.container{
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: #fff;
}

.container .posts{
    padding: 30px 20px 0 20px;
    width: 78%;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
}

.container .project-list{
    display: grid;
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    list-style-type: none;
    margin-top: 10px;
    padding: 25px;
    background-color: #fafafa;
}


.container .suggestion{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background: #f6f8f6;
    list-style-type: none;
    max-height: 650px;
    overflow-x: hidden;
    overflow-y: auto;
}

.suggestion h2{
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.2px;
    color: #031633;
    margin: 10px 0;
}

.suggestion i{
    color: #95889F;
    cursor: pointer;
}

