<nav class="navbar">
    <div class="navbar-logo">
      <img src="logo.png" class="logo"/>
    </div>
  
    <ul class="navbar-items">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/profile/username" routerLinkActive="active">Profile</a></li>
      <li><a routerLink="/dashboard/username" routerLinkActive="active">Dashboard</a></li>
    </ul>
  
    <div class="navbar-icons" appClickOutside (clickOutside)="closeDropdowns()">
      <div class="icon-wrapper" (click)="toggleDropdownMessage()">
        <img src="msgIcon.png">
        <span class="badge bg1"></span>
        <messages-dropdown [dropdownVisibleMessage] = "dropdownVisibleMessage"></messages-dropdown>
      </div>
  
      <div class="icon-wrapper" (click)="toggleDropdownNotification()">
        <img src="notifIcon.png">
        <span class="badge bg2"></span>
        <notification-dropdown [dropdownVisibleNotification] = "dropdownVisibleNotification"></notification-dropdown>
      </div>
  
      <div class="profile-picture" (click)="toggleDropdownProfile()">
        <img src="userPic.jpg" alt="Profile" />
        <profile-dropdow [dropdownVisibleProfile] = "dropdownVisibleProfile"></profile-dropdow>
      </div>
    </div>
  </nav>  