<div class="project-card">
    <div class="user-info">
        <img [src]="project.ownerImg" >
        <span>
            <h2>{{project.ownerName}}</h2>
            {{project.location}}
        </span>
        <h6>{{project.date}}</h6>
    </div>
    <div class="project-img">
        <div class="layer"></div>
        <img [src]="project.img">
        <div class="title">
            {{project.title}}
        </div>
        <div class="field">
            {{fields[0]}}
        </div>
    </div>

    <div class="footer">
        <i *ngIf="!islicked" class="fa-regular fa-heart" (click)="islicked=true"></i>
        <i *ngIf="islicked" class="fa-solid fa-heart" (click)="islicked=false"></i>
        <i class="fa-solid fa-up-right-from-square external"></i>    </div>
</div>

  